@import '~src/global-styles';

.sample-creator-component {
  width: 100%;
  min-height: calc(100vh - 70px);
  @include flex-center;

  .no-audio-container {
    @include flex-center;
    font-size: 32px;
    text-align: center;
    color: $palette-blue;
    min-height: inherit;
    flex-direction: column;
    width: 100%;

    input {
      max-width: 50%;
      font-size: 24px;
      color: #000000;
      margin-top: 12px;
    }

    .loading-icon {
      font-size: 40px;
      margin-top: 12px;
    }
  }

  .form-control, .form-control-range {
    border: 1px solid $palette-blue;
    background-color: #ffffff;
    display: inline-block;
    max-width: 45%;
  }

  .sample-container {
    min-height: inherit;
    display: flex;
    align-items: center;
    flex-direction: column;

    .playback-controls, .recording-controls, .saving-controls {
      @include  flex-center;
      flex-direction: column;
      width: 90%;
      margin: 8px 0;

      .diff-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 8px 0;
        flex-wrap: wrap;
      }
    }

    .playback-controls {

      .music-slider {
        width: 40%;
      }

      .playback-button {

        .icon {
          width: 32px;
          height: 32px;
        }
      }

      .slider-label {
        font-size: 18px;
      }
    }

    .recording-controls, .saving-controls {

      .microphone-icon {
        margin: 0 12px;

        &.blink {
          animation: blinker 1.5s cubic-bezier(.5, 0, 1, 1) infinite alternate;
          color: $palette-error;
        }

        @keyframes blinker {
          from { opacity: 1; }
          to { opacity: 0; }
        }
      }

      .diff-container {

        input {
          max-width: 80%;
        }

        .btn-negative {
          width: 40%;
        }

        > * {
          margin-bottom: 6px;
        }
      }
    }
  }

  .controls-container {
    min-height: inherit;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: $palette-lightgray;

    .container {
      margin-top: 8px;

      .title {
        font-size: 18px;
        margin-top: 8px;
        margin-bottom: -6px;
      }
    }

    .edit-container {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
      padding: 16px 12px;

      &:not(:last-child) {
        border-bottom: 2px $palette-darkgray solid;
      }

      .btn {
        margin-top: 4px;
        width: 80%;

        &.btn-inline {
          width: fit-content;
          margin-top: 0;
        }
      }
    }
  }

  .sample-container, .controls-container {

    .title {
      font-size: 24px;
      color: $palette-blue;
      margin: 8px 0;
      text-align: center;
    }
  }
}