<div class="sample-creator-component row">
  <ng-template #playbackAudioNotLoaded>
    <div class="sample-container col-12 col-md-8">
      <div class="no-audio-container">
        Please Upload Audio To Create
        <input type="file" #fileInput (change)="onFileUpload(fileInput.files[0])" accept="audio/*"/>
        <fa-icon *ngIf="loading" class="loading-icon" [icon]="faSpinner" [spin]="2"></fa-icon>
      </div>
    </div>
  </ng-template>
  <div *ngIf="audioLoaded; else playbackAudioNotLoaded" class="sample-container col-12 col-md-8">
    <span class="title"><b style="color: #000000;">Uploaded File: </b>{{ uploadedFile.name }}</span>
    <div class="playback-controls container">
      <div class="diff-container">
        <span class="title">Playback Controls</span>
        <button [ngClass]="{ 'btn-primary': !isPlaying, 'btn-secondary': isPlaying }" class="btn playback-button" (click)="togglePlaying()"><img class="icon" src="{{ isPlaying ? 'assets/icons/pause-button.svg' : 'assets/icons/play-button.svg' }}"></button>
        <button class="btn btn-negative" (click)="restartPlay()">Restart audio</button>
      </div>
      <div class="diff-container">
        <span class="slider-label">Audio Slider</span>
        <span class="slider-label">Editing Slider</span>
      </div>
      <div class="diff-container">
        <igx-slider #audioTracker class="music-slider" [step]="0.1" [minValue]="0" [maxValue]="audioWrapper.buffer.duration | number: '3.0-1'" [value]="currentTime" (onValueChange)="updateCurrentTime($event)"></igx-slider>
        <igx-slider #editingSlider class="music-slider" [type]="sliderType.RANGE" [step]="0.1" [minValue]="0" [maxValue]="audioWrapper.buffer.duration | number: '3.0-1'" [(ngModel)]="audioRange"></igx-slider>
      </div>
    </div>
    <div *ngIf="!!recorder" class="recording-controls container">
      <span class="title">Recording Controls</span>
      <div class="diff-container">
        <button [ngClass]="{ 'btn-primary': !recorder?.recording, 'btn-secondary': recorder?.recording }" class="btn playback-button" (click)="toggleRecording()">{{ recorder?.recording ? 'Stop Recording' : 'Start Recording' }}</button>
        <fa-icon [ngClass]="{ 'blink': recorder?.recording }" class="microphone-icon" [icon]="faMicrophone"></fa-icon>
        <button *ngIf="!!recordedAudio" class="btn btn-primary" (click)="playRecording()">Playback recording</button>
        <button class="btn btn-negative" (click)="resetRecording()">Reset recording</button>
      </div>
    </div>
    <div *ngIf="!!recordedAudio" class="saving-controls container">
      <span class="title">Saving Controls</span>
      <div class="diff-container">
        <input #nameInput type="text" placeholder="recording name..." class="form-control">
        <button class="btn btn-primary" (click)="saveRecording(nameInput.value)">Save recording</button>
        <button class="btn btn-primary" (click)="downloadRecording(nameInput.value)">Download recording</button>
      </div>
    </div>
  </div>
  <div *ngIf="audioLoaded; else controlsAudioNotLoaded" class="controls-container col-12 col-md-4">
    <span class="title">Editing Controls</span>
    <div class="edit-container">
      <label for="volumeInput">Volume:</label>
      <input #volumeInput id="volumeInput" class="form-control-range" type="range" value="1" max="2" min="0" step="0.1" (change)="changeVolume(+volumeInput.value)">
      <span>{{ volumeInput.value }}</span>
      <fa-icon class="icon" [icon]="+volumeInput.value === 0 ? faVolumeMute : faVolumeUp"></fa-icon>
    </div>
    <div class="edit-container">
      <label for="pannerInput">Panner:</label>
      <input #pannerInput id="pannerInput" class="form-control-range" type="range" value="0" max="1" min="-1" step="0.1" (change)="setPan(+pannerInput.value)">
      <span>{{ pannerInput.value }}</span>
    </div>
    <div class="edit-container">
      <label for="playBackRate">Playback Rate:</label>
      <input #playbackInput id="playBackRate" class="form-control-range" type="range" value="1" max="3" min="0.1" step="0.1" (change)="setPlaybackRate(+playbackInput.value)">
      <span>{{ playbackInput.value }}</span>
    </div>
    <div class="edit-container">
      <input #fadeInPercent placeholder="percent..." class="form-control" type="number" min="1" step="1" max="20" id="fadeInPercent">
      <button class="btn btn-primary btn-inline" (click)="applyFadeIn(+fadeInPercent.value)">Apply Fade In</button>
    </div>
    <div class="edit-container">
      <input #fadeOutPercent placeholder="percent..." class="form-control" type="number" min="1" step="1" max="20" id="fadeOutPercent">
      <button class="btn btn-primary btn-inline" (click)="applyFadeOut(+fadeOutPercent.value)">Apply Fade Out</button>
    </div>
    <div *ngIf="!audioWrapper?.filterNode; else filterApplied" class="edit-container">
      <select #filterSelect class="form-control">
        <option value="">filter...</option>
        <option value="lowpass">lowpass</option>
        <option value="highpass">highpass</option>
        <option value="bandpass">bandpass</option>
        <option value="lowshelf">lowshelf</option>
        <option value="highshelf">highshelf</option>
        <option value="peaking">peaking</option>
        <option value="notch">notch</option>
        <option value="allpass">allpass</option>
      </select>
      <input #filterFreq placeholder="frequency..." class="form-control" type="number" min="0" step="5" id="fadeInFrequency" name="fadeInFrequency">
      <div style="width: 100%;display: flex;justify-content: space-around;align-items: center;">
        <label for="filterGain" style="">Gain:</label>
        <input #filterGain placeholder="gain..." class="form-control-range" type="range" min="0" max="1" step="0.1" id="filterGain" name="filterGain">
        <span>{{ filterGain.value }}</span>
      </div>
      <button class="btn btn-primary" (click)="applyFilter(filterSelect.value, +filterFreq.value, +filterGain.value)">Apply Filter</button>
    </div>
    <div class="edit-container">
      <button class="btn btn-primary" (click)="mutateAudio('leave')">Leave selected audio</button>
      <button class="btn btn-primary" (click)="mutateAudio('cut')">Cut selected audio</button>
    </div>
    <ng-template #filterApplied>
      <div class="edit-container">
        <button class="btn btn-primary" (click)="removeFilter()">Remove Filter</button>
      </div>
    </ng-template>
  </div>
  <ng-template #controlsAudioNotLoaded>
    <div class="controls-container col-12 col-md-4">
      <div class="no-audio-container">
        Please Upload Audio To Create
        <fa-icon *ngIf="loading" class="loading-icon" [icon]="faSpinner" [spin]="2"></fa-icon>
      </div>
    </div>
  </ng-template>
</div>
