@import '~src/global-styles';

.card-component {
    height: 300px;
    width: 90%;
    // took this code from https://www.w3schools.com/css/css3_shadows.asp
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin: 5% 0;
    position: relative;
    @media only screen and (min-width: map_get($grid-breakpoints, 'md')) {
    margin: 0 5%;
    }
}

.card-image {
    height: 70%;
    width: 100%;
    background: $palette-lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-span {
    max-width: 80%;
    margin-top: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    &.title {
        font-weight: 450;
    }
    &.username {
        color:$palette-darkgray;
    }
}

.play-button {
    height: 75px;
    width: 75px;
    .icon {
        height: 100%;
        width: 100%;
    }
}

.download-button {
    position: absolute;
    height: 40px;
    width: 40px;
    top: 0;
    right: 0;
    margin: 10px;
    cursor: pointer;
    .icon {
        height: 100%;
        width: 100%;
    }
}