<div class="carousel-container">
  <div *ngIf="currentSamples > 0" class="prevSet carousel-controls" (click)="loadLast()">
    <img class="icon" src="{{'assets/icons/back.svg'}}">
  </div>
  <app-card *ngFor="let sample of _displayCache" class="card-container" [sample]=sample (sampleDeleted)="sampleDeleted($event)"></app-card>
  <div *ngIf="showNext" class="nextSet carousel-controls" (click)="loadNext()">
    <img class="icon" src="{{'assets/icons/next.svg'}}">
  </div>
  <div *ngIf="noSample">NO SAMPLES FOUND</div>
</div>