@import '~src/global-styles';

.body {
    background: $palette-lightgray;
}

.dashboard {
    background: #ffffff;
    margin: 0 auto;
    padding: 20px;
    width: 100%;
    @media only screen and (min-width: map_get($grid-breakpoints, 'md')) {
        width: 80%;
    }
}