@import '~src/global-styles';

.dashboard {
    background: #ffffff;
    margin: 0 auto;
    padding: 20px;
    width: 100%;
    @media only screen and (min-width: map_get($grid-breakpoints, 'md')) {
        width: 80%;
    }
}

.newest-title {
    font-size: 24px;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 30px;
}

.search-button {
    height: 25px;
    width: 25px;
}