<div class="dashboard">
  <div class="search-area">
    <input class="search-bar" type="text" placeholder="Search" #searchbar id="searchBar">
    <div *ngIf="!searching" class="search-button" (click)="search(searchbar.value)">
      <img class="icon" src="{{'assets/icons/search.svg'}}">
    </div>
    <div *ngIf="searching" class="cancel-search" (click)="reset()">
        <img class="icon" src="{{'assets/icons/close.svg'}}">
    </div>
  </div>
  <div class="dash-title">{{searching?"SAMPLES":"NEWEST SAMPLES"}}</div>
  <app-carousel [inputCache]="sampleCache" [search]="searchParams"></app-carousel>
  <div class="profile-content" *ngIf="searching">
      <div class="dash-title">ARTISTS</div>
      <app-user-pages [users]="foundUsers"></app-user-pages>
      <div *ngIf="!foundUsers || foundUsers.length === 0">
          NO ARTISTS FOUND
      </div>
  </div>
  
  <!--input #fileTester type="file" name="fileUpload"/>
  <button (click)="press(fileTester.files[0])"> butt dasfasdfsa dfsdf dsf</button-->
  
</div>